<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Modul 323 Elias Benz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Dokumentationen Kompetenzen</h1>
    <ul>
        <li><a href="/grundlagen">Grundlagen</a></li>
        <li><a href="/fortgeschritten">Fortgeschritten</a></li>
        <li><a href="/erweitert">Erweitert</a></li>
    </ul>
</div>
<div class="footer">
    <p>&copy; Elias Benz, ©2023</p>
</div>
</body>
</html>
